
$americons-fontpath: '../fonts' !default;

@font-face {
    font-family: 'Americons';
    font-style: normal;
    font-weight: normal;
    src: url('#{$americons-fontpath}/americons.eot?#iefix');
    src: url('#{$americons-fontpath}/americons.eot?#iefix') format('embedded-opentype'),
         url('#{$americons-fontpath}/americons.woff2') format('woff2'),
         url('#{$americons-fontpath}/americons.woff') format('woff'),
         url('#{$americons-fontpath}/americons.ttf') format('truetype'),
         url('#{$americons-fontpath}/americons.svg') format('svg');
}
