
.am-ak::before {
    content: '\f300';
}

.am-al::before {
    content: '\f301';
}

.am-ar::before {
    content: '\f302';
}

.am-az::before {
    content: '\f303';
}

.am-ca::before {
    content: '\f304';
}

.am-co::before {
    content: '\f305';
}

.am-ct::before {
    content: '\f306';
}

.am-dc::before {
    content: '\f307';
}

.am-de::before {
    content: '\f308';
}

.am-fl::before {
    content: '\f309';
}

.am-ga::before {
    content: '\f30a';
}

.am-hi::before {
    content: '\f30b';
}

.am-ia::before {
    content: '\f30c';
}

.am-id::before {
    content: '\f30d';
}

.am-il::before {
    content: '\f30e';
}

.am-in::before {
    content: '\f30f';
}

.am-ks::before {
    content: '\f310';
}

.am-ky::before {
    content: '\f311';
}

.am-la::before {
    content: '\f312';
}

.am-ma::before {
    content: '\f313';
}

.am-md::before {
    content: '\f314';
}

.am-me::before {
    content: '\f315';
}

.am-mi::before {
    content: '\f316';
}

.am-mn::before {
    content: '\f317';
}

.am-mo::before {
    content: '\f318';
}

.am-ms::before {
    content: '\f319';
}

.am-mt::before {
    content: '\f31a';
}

.am-nc::before {
    content: '\f31b';
}

.am-nd::before {
    content: '\f31c';
}

.am-ne::before {
    content: '\f31d';
}

.am-nh::before {
    content: '\f31e';
}

.am-nj::before {
    content: '\f31f';
}

.am-nm::before {
    content: '\f320';
}

.am-nv::before {
    content: '\f321';
}

.am-ny::before {
    content: '\f322';
}

.am-oh::before {
    content: '\f323';
}

.am-ok::before {
    content: '\f324';
}

.am-or::before {
    content: '\f325';
}

.am-pa::before {
    content: '\f326';
}

.am-pr::before {
    content: '\f327';
}

.am-ri::before {
    content: '\f328';
}

.am-sc::before {
    content: '\f329';
}

.am-sd::before {
    content: '\f32a';
}

.am-tn::before {
    content: '\f32b';
}

.am-tx::before {
    content: '\f32c';
}

.am-usa-contiguous::before {
    content: '\f32d';
}

.am-usa::before {
    content: '\f32e';
}

.am-ut::before {
    content: '\f32f';
}

.am-va::before {
    content: '\f330';
}

.am-vt::before {
    content: '\f331';
}

.am-wa::before {
    content: '\f332';
}

.am-wi::before {
    content: '\f333';
}

.am-wv::before {
    content: '\f334';
}

.am-wy::before {
    content: '\f335';
}

