
.icons {
    display: flex;
    flex-wrap: wrap;
}

.icon {
    color: $clr-gray;
    margin: 0.5em;
    padding: 0.5em;
    text-align: center;

    .am {
        color: $clr-icon;
        font-size: 128px;
    }
}

.icon__name {
    display: block;
    font-weight: bold;
}
