
.navigation {
    background: $clr-navbg;
    border-bottom: 1px solid $clr-navborder;
    box-shadow: 0 0 1em $clr-black;
    color: $clr-navtxt;
    left: 0;
    padding: 0.5em 1.0em;
    position: absolute;
    right: 0;
    top: 0;
}
