
<section class="icons">


    <div class="icon">
        <i class="am am-ak"></i>
        <div class="icon__meta">
            <div class="icon__name">ak</div>
            <div class="icon__html">
                &lt;i class="am am-ak"&gt;&lt;/i&gt;
            </div>
        </div>
    </div>

    <div class="icon">
        <i class="am am-al"></i>
        <div class="icon__meta">
            <span class="icon__name">al</span>
            <span class="icon__code">ea02</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-ar"></i>
        <div class="icon__meta">
            <span class="icon__name">ar</span>
            <span class="icon__code">ea03</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-az"></i>
        <div class="icon__meta">
            <span class="icon__name">az</span>
            <span class="icon__code">ea04</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-ca"></i>
        <div class="icon__meta">
            <span class="icon__name">ca</span>
            <span class="icon__code">ea05</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-co"></i>
        <div class="icon__meta">
            <span class="icon__name">co</span>
            <span class="icon__code">ea06</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-ct"></i>
        <div class="icon__meta">
            <span class="icon__name">ct</span>
            <span class="icon__code">ea07</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-dc"></i>
        <div class="icon__meta">
            <span class="icon__name">dc</span>
            <span class="icon__code">ea08</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-de"></i>
        <div class="icon__meta">
            <span class="icon__name">de</span>
            <span class="icon__code">ea09</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-fl"></i>
        <div class="icon__meta">
            <span class="icon__name">fl</span>
            <span class="icon__code">ea0a</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-ga"></i>
        <div class="icon__meta">
            <span class="icon__name">ga</span>
            <span class="icon__code">ea0b</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-hi"></i>
        <div class="icon__meta">
            <span class="icon__name">hi</span>
            <span class="icon__code">ea0c</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-ia"></i>
        <div class="icon__meta">
            <span class="icon__name">ia</span>
            <span class="icon__code">ea0d</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-id"></i>
        <div class="icon__meta">
            <span class="icon__name">id</span>
            <span class="icon__code">ea0e</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-il"></i>
        <div class="icon__meta">
            <span class="icon__name">il</span>
            <span class="icon__code">ea0f</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-in"></i>
        <div class="icon__meta">
            <span class="icon__name">in</span>
            <span class="icon__code">ea10</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-ks"></i>
        <div class="icon__meta">
            <span class="icon__name">ks</span>
            <span class="icon__code">ea11</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-ky"></i>
        <div class="icon__meta">
            <span class="icon__name">ky</span>
            <span class="icon__code">ea12</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-la"></i>
        <div class="icon__meta">
            <span class="icon__name">la</span>
            <span class="icon__code">ea13</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-ma"></i>
        <div class="icon__meta">
            <span class="icon__name">ma</span>
            <span class="icon__code">ea14</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-md"></i>
        <div class="icon__meta">
            <span class="icon__name">md</span>
            <span class="icon__code">ea15</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-me"></i>
        <div class="icon__meta">
            <span class="icon__name">me</span>
            <span class="icon__code">ea16</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-mi"></i>
        <div class="icon__meta">
            <span class="icon__name">mi</span>
            <span class="icon__code">ea17</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-mn"></i>
        <div class="icon__meta">
            <span class="icon__name">mn</span>
            <span class="icon__code">ea18</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-mo"></i>
        <div class="icon__meta">
            <span class="icon__name">mo</span>
            <span class="icon__code">ea19</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-ms"></i>
        <div class="icon__meta">
            <span class="icon__name">ms</span>
            <span class="icon__code">ea1a</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-mt"></i>
        <div class="icon__meta">
            <span class="icon__name">mt</span>
            <span class="icon__code">ea1b</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-nc"></i>
        <div class="icon__meta">
            <span class="icon__name">nc</span>
            <span class="icon__code">ea1c</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-nd"></i>
        <div class="icon__meta">
            <span class="icon__name">nd</span>
            <span class="icon__code">ea1d</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-ne"></i>
        <div class="icon__meta">
            <span class="icon__name">ne</span>
            <span class="icon__code">ea1e</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-nh"></i>
        <div class="icon__meta">
            <span class="icon__name">nh</span>
            <span class="icon__code">ea1f</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-nj"></i>
        <div class="icon__meta">
            <span class="icon__name">nj</span>
            <span class="icon__code">ea20</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-nm"></i>
        <div class="icon__meta">
            <span class="icon__name">nm</span>
            <span class="icon__code">ea21</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-nv"></i>
        <div class="icon__meta">
            <span class="icon__name">nv</span>
            <span class="icon__code">ea22</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-ny"></i>
        <div class="icon__meta">
            <span class="icon__name">ny</span>
            <span class="icon__code">ea23</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-oh"></i>
        <div class="icon__meta">
            <span class="icon__name">oh</span>
            <span class="icon__code">ea24</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-ok"></i>
        <div class="icon__meta">
            <span class="icon__name">ok</span>
            <span class="icon__code">ea25</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-or"></i>
        <div class="icon__meta">
            <span class="icon__name">or</span>
            <span class="icon__code">ea26</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-pa"></i>
        <div class="icon__meta">
            <span class="icon__name">pa</span>
            <span class="icon__code">ea27</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-pr"></i>
        <div class="icon__meta">
            <span class="icon__name">pr</span>
            <span class="icon__code">ea28</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-ri"></i>
        <div class="icon__meta">
            <span class="icon__name">ri</span>
            <span class="icon__code">ea29</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-sc"></i>
        <div class="icon__meta">
            <span class="icon__name">sc</span>
            <span class="icon__code">ea2a</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-sd"></i>
        <div class="icon__meta">
            <span class="icon__name">sd</span>
            <span class="icon__code">ea2b</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-tn"></i>
        <div class="icon__meta">
            <span class="icon__name">tn</span>
            <span class="icon__code">ea2c</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-tx"></i>
        <div class="icon__meta">
            <span class="icon__name">tx</span>
            <span class="icon__code">ea2d</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-usa-contiguous"></i>
        <div class="icon__meta">
            <span class="icon__name">usa-contiguous</span>
            <span class="icon__code">ea2e</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-usa"></i>
        <div class="icon__meta">
            <span class="icon__name">usa</span>
            <span class="icon__code">ea2f</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-ut"></i>
        <div class="icon__meta">
            <span class="icon__name">ut</span>
            <span class="icon__code">ea30</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-va"></i>
        <div class="icon__meta">
            <span class="icon__name">va</span>
            <span class="icon__code">ea31</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-vt"></i>
        <div class="icon__meta">
            <span class="icon__name">vt</span>
            <span class="icon__code">ea32</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-wa"></i>
        <div class="icon__meta">
            <span class="icon__name">wa</span>
            <span class="icon__code">ea33</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-wi"></i>
        <div class="icon__meta">
            <span class="icon__name">wi</span>
            <span class="icon__code">ea34</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-wv"></i>
        <div class="icon__meta">
            <span class="icon__name">wv</span>
            <span class="icon__code">ea35</span>
        </div>
    </div>

    <div class="icon">
        <i class="am am-wy"></i>
        <div class="icon__meta">
            <span class="icon__name">wy</span>
            <span class="icon__code">ea36</span>
        </div>
    </div>


</section>
