
body,
html {
    background: $clr-off-white;
    font-family: $fontstack-body;
    min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fontstack-headings;
    font-weight: bold;
}

a {
    color: $clr-link-out;
    text-decoration: none;

    &:hover {
        color: $clr-link-over;
        text-decoration: underline;
    }
}
