
$clr-red: #db716c;
$clr-blue: #6cb0db;
$clr-blue-dark: #041f2d;
$clr-black: #000;
$clr-off-white: #f6f9f6;
$clr-white: #fff;

$clr-gray: #777777;

$clr-link-out: darken($clr-red, 10%);
$clr-link-over: $clr-red;

// navigation
$clr-navbg: $clr-blue-dark;
$clr_navtxt: $clr-off-white;
$clr-navborder: $clr-white;

// header
$clr-headerbg: $clr-blue-dark;
$clr-headertxt: $clr-off-white;

// icons
$clr-icon: $clr-blue-dark;
