
.header {
    align-items: center;
    background: $clr-headerbg url(../images/sparkler-mobile.jpg) no-repeat center center fixed;
    background-size: cover;
    color: $clr-headertxt;
    display: flex;
    font-size: 64px;
    height: 80%;
    justify-content: center;
    min-height: 80%;

    @include media($desktop) {
        background: $clr-headerbg url(../images/sparkler.jpg) no-repeat center center fixed;
        background-size: cover;
        font-size: 128px;
    }
}

.headline {
    margin: 0 auto;
    max-width: $content-max-width;
    text-shadow: 2px 2px 0 #000;
}
