
<section class="icons">

<% for (var i = 0; i < icons.length; i++) { %>
    <div class="icon">
        <i class="am am-<%= icons[i].name %>"></i>
        <div class="icon__meta">
            <div class="icon__name"><%= icons[i].name %></div>
            <div class="icon__html">
                &lt;i class="am am-<%= icons[i].name %>"&gt;&lt;/i&gt;
            </div>
        </div>
    </div>
<% } %>

</section>
